[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"psycopg2" = "*"
"autopep8" = "*"
django-search-views = "*"
pillow = "*"
django-crispy-forms = "*"
zeep = "*"

[dev-packages]

[requires]
python_version = "3.7"
