{% extends 'blog/home.html' %}

{% block title %}
<title> نتایج جستجو </title>
{% endblock title %}

{% block content %}

<div class="container" style="text-align: right">
    <p>
        تعداد
        {{count}}
        عدد جستجو یافت شد
    </p>
</div>




<!-- Listings -->
<div class="row">

    <div class="col-md-8">
        {% for karjoo in karjoos %}
        <div class="card mb-12 shadow-sm" style="text-align:right">
            <h2 class="container">
                <a href="{%url 'karjoo_detail' karjoo.id %}">
                    {{ karjoo.kjname }}
                </a>
                <br>

            </h2>

            <div class="card-body container">
                <p>:مهارت</p>
                <p class="card-text">{{ karjoo.kjmaharat}}</p>

                <hr>
            </div>
        </div>
        <br>

        {% endfor %}
    </div>
    <div class="col-md-4">

        <section style="background-image: linear-gradient(to right, rgb(7, 97, 133) , rgb(3, 97, 185));"
            id="showcase-inner" class="showcase-search text-white py-4">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12">
                        <form action="{% url 'skill_search' %}">
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                    <label class="sr-only">مهارت شغلی</label>
                                    <input type="text" name="kjmaharat" class="form-control" placeholder="مهارت شغلی"
                                        value="{{karjoo.kjmaharat}}">
                                </div>

                                <div class="col-md-3 mb-3">
                                    <label class="sr-only">عنوان شغلی</label>
                                    <input type="text" name="kjrequestjob" class="form-control" placeholder="عنوان شغلی"
                                        value="{{karjoo.kjrequestjob}}">
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label class="sr-only">سابقه کار</label>
                                    <select name="kjworkrecord" class="form-control">
                                        <option selected="true" disabled="disabled">سابقه کار</option>
                                        {% for key,value in work_record %}
                                        <option value="{{ key }}">{{value}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label class="sr-only">حقوق</label>
                                    <select name="kjsalary" class="form-control">
                                        <option selected="true" disabled="disabled">حقوق</option>
                                        {% for key,value in salary_field %}
                                        <option value="{{ key }}">{{value}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                            </div>

                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                    <label class="sr-only">رشته تحصیلی</label>
                                    <input type="text" name="kjtahsilat" class="form-control" placeholder="رشته تحصیلی"
                                        value="{{karjoo.kjtahsilat}}">
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label class="sr-only">جنسیت</label>
                                    <select name="kjgender" class="form-control">
                                        <option selected="true" disabled="disabled">جنسیت</option>
                                        {% for key,value in gender_field %}
                                        <option value="{{ key }}">{{value}}</option>
                                        {% endfor %}
                                    </select>
                                </div>


                                <div class="col-md-3 mb-3">
                                    <label class="sr-only">مدرک</label>
                                    <select name="kjmaghta" class="form-control">
                                        <option selected="true" disabled="disabled">مدرک</option>
                                        {% for key,value in degree_field %}
                                        <option value="{{ key }}">{{value}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label class="sr-only">سن</label>
                                    <select name="kjage" class="form-control">
                                        <option selected="true" disabled="disabled">سن</option>
                                        {% for key,value in age_field %}
                                        <option value="{{ key }}">{{value}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <button class="btn btn-primary mt-0 mb-0" type="submit">جستجو</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>

{% endblock content %}